body{
    min-width: 270px;
    font-family: Ubuntu, fantasy;
    font-size: 20px;
}

.navigation,
.navigation .col {
    min-height: 80px;
    overflow-x: hidden;
    position: relative;
    transition: 0.5s
}

.one {
    float: left;
    display: flex;
    width:23%;
    min-width: 150px;
}

.two {
    display: flex;
    float: right;
    width: 60%;
}

.two a{
    margin: auto;
    text-decoration: none;
}

.two a:hover{
    color: #F26B47;
    text-decoration: underline;
}

.link {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.one img, .item{
    margin: auto;
}

.menu-button {
    display: none;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 15%;
    position: relative;
    float: right;
}

.menu-button span,
.menu-button span::before,
.menu-button span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 2px;
    background-color: #F26B47;
}

.menu-button span::before,
.menu-button span::after {
    content: '';
    display: block;
    transition: 0.3s;
}

.menu-button span::before {
    transform: translateY(-10px);
}

.menu-button span::after {
    transform: translateY(10px);
}

.menu-button_active span::before {
    transform: rotate(45deg);
}

.menu-button_active span::after {
    transform: rotate(-45deg);
}

.menu-button_active span {
    height: 0;
}

/************************Slider********************************/
.slideshow-container {
    max-width: 100vw;
    min-width: 300px;
    position: relative;
    margin: auto;
}

.slides {
    position: relative;
    margin-bottom: 40px;
    flex-direction: column;
}

.slides img {
    width: 100%;
}

.first-text{
    color: #f2f2f2;
    font-size: 150%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    top: 34%;
    width: 100%;
}

.first-text div{
    background: rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    width: 50%;
}
.first-text div:nth-child(odd){
    width: 35%;
}

.thread-text {
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 160%;
    padding: 40px 0;
    background: #F26B47;
    width: 100%;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -8% 50px 0 50px;
    padding: 0 25px;
    color: rgba(255, 0, 0, 0.71);
    font-weight: bold;
    font-size: 350%;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/************************Slider********************************/

/************************InfoBlock********************************/
.info {
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 84%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

.info-title {
    font-size: 140%;
    font-weight: bolder;
    color: red;
    text-decoration: underline;
    margin-bottom: 30px;
}

.info-title span {
    color: black;
}

.info p {
    text-align: center;
}
/************************InfoBlock********************************/

/************************Cards with ico********************************/
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 50px auto;
}

.card-ico {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    padding: 10px 0;
}

.card-ico span {
    font-weight: bold;
    padding-top: 10px;
}

.card-ico p {
    font-size: 12px;
}

.half {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
/************************Cards with ico********************************/

/************************Cards with pic********************************/
.card-pic {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: flex-end;
    padding: 0;
    background: lightgrey;
    margin: 30px 15px;
    position: relative;
}
.card-pic img{
    width: 100%;
}
.card-pic span {
    font-weight: bold;
    padding: 5px 10px 5px 5px;
    color: #F26B47;
}
.card-pic p {
    font-size: 12px;
    padding: 5px 10px 0 0;
    margin-top: 0;
}
.card-pic hr {
    width: 95%;
    margin-top: 0;
    margin-bottom: 0;
}
/************************Cards with pic********************************/

/************************Gray panel********************************/
.panel-grey {
    min-height: 250px;
    background: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px 0;
}
.panel-grey span {
    color: #F26B47;
}
.panel-grey p {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
/************************Gray panel********************************/
/************************Contact info********************************/
.ico-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    color: gray;
}
.contact span{
    font-size: 18px;
    font-weight: bold;

}
.ico-txt img {
    margin: 10px 30px;
}
form input, form textarea {
    margin: 5px 30px;
    padding: 10px;
    border: lightgrey solid;
    background: #e6e6e6;
    border-radius: 4px;
}
form input {
    width: 60%;
    height: 20px;
}

form textarea {
    width: 80%;
    height: 150px;
    resize: none;;
}
form button {
    padding: 10px 30px;
    margin: 5px 30px;
    background: #F26B47;
    color: white;
    border: none;
    border-radius: 4px;
}

.map,.contact {
    width: 45vw;
    position: relative;
}
.map iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
}
/************************Contact info********************************/

.сopyright {
    color: #f2f2f2;
    font-size: 30px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background: #F26B47;
    width: 100%;
    margin-top: 250px;
}

@media (max-width: 960px) {
    .two {
        width: 77%;
    }
    body {
        font-size: 15px;
    }

    .ico-txt, form input {
        width: 80%;
    }

    .half {
        flex-direction: column;
    }

    .card-ico, .card-pic{
        width: 90%;
    }

    .previous, .next {
        margin: -8% 25px 0 25px;
    }
}

@media (max-width: 720px) {
    body {
        font-size: 10px;
    }

    .two {
        display: block;
        clear: right;
        position: absolute;
    }

    .one {
        clear: left;
    }

    .navigation {
        display: flex;
        flex-direction: column-reverse;
        top: -180px;
    }

    .menu-button {
        display: block;
    }

    .item {
        margin: 10px auto;
    }

    .navigation .col {
        min-height: 50px;
    }

    .cont {
        position: absolute;
        top: 110px;
        transition: 0.5s
    }
    .thread-text {
        padding: 20px 0;
    }

    .first-text {
        top: 20%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .half {
        width: 85vw;
    }
    .map,.contact {
        width: 80vw;
        margin: 25px 10px;
    }
    .ico-txt p{
        font-size: 150%;
    }
    .previous, .next {
        margin: -8% 10px 0 10px;
    }
    .info p {
        font-size: 130%;
    }
    .info span {
        font-size: 150%;
    }
    .card-ico span {
        font-size: 140%;
    }
    .card-pic span {
        font-size: 140%;
    }
    .card-pic p {
        font-size: 140%;
    }
}

@media (max-width: 540px) {
    body {
        font-size: 8px;
    }
    .slides {
        margin-bottom: 20px;
    }

    .previous, .next {
        margin: -8% 0 0 0;
    }

    .first-text div{
        width: 80%;
    }

    .first-text div:nth-child(odd){
        width: 65%;
        margin: auto;
    }

    .thread-text {
        font-size: 100%;
    }

    .info {
        padding-top: 0;
    }

    .info-title {
        font-size: 200%;
        margin-bottom: 5px;
    }

    .cards {
        margin: 10px auto;
    }

    .card-ico span {
        font-size: 140%;
    }

    .card-ico p {
        font-size: 100%;
    }

    .panel-grey p {
        font-size: 100%;
    }

    .contact span{
        font-size: 18px;
        font-weight: bold;
    }

    .map,.contact {
        width: 100%;
    }

    .сopyright {
        font-size: 15px;
    }
}

.navigation_active {
    top: 0;
}

.cont-active {
    top:290px;
}